body {
    background-color:#ecf2f9;
    font-family: 'Scope One';
    text-align: center;
}
.menu {
    background-color: #8cb3d9;
    overflow: hidden; /*co sie nie zmiesci jest ukryte*/
  }
/*tekst w pasku*/
.menu a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px; /*gora prawo dol lewo*/
    text-decoration: none; /*usuwa podkreslenie*/
    font-size: 17px;
}
/* jak sie najedzie to zmiana koloru */
.menu a:hover {
    background-color: #b3cce6;
    color: white;
}
.header {
    font-size: 50px;
    font-weight: bold;
    color: #336699;
}
.butn {
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 3px;
    border-color: black;
    background-color: #d9e6f2;
}
.font{
    font-family: 'Scope One';
}
input {
    width: 50%;
    text-align: center;
}
.color {
    color: #264d73;
}
.bloc {
    background-color: #d9e6f2;
    border: 1px solid black;
    margin-top: 20px;
}
.color2 {
    color: yellowgreen;
}
.bloc2 {
    background-color: thistle;
    padding-top: 30px;
    padding-bottom: 30px;
}