
body {
  background-color: #d1d1e0;
}
.navigationbar {
    background-color: #a3a3c2;
    overflow: hidden;
  }
  .navigationbar a {
    float: left;
    color: #e0e0eb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  /* jak sie najedzie to zmiana koloru */
  .navigationbar a:hover {
    background-color: #e0e0eb;
    color: black;
  }
.font1 {
  font-family: 'Athiti';
}
.font2 {
  font-family: 'Dancing Script';
}
.header {
  color: #29293d;
  text-align: center;
  letter-spacing: 3px;
  font-size: 60px;
}
.description {
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 50px 200px;
  }

.letter {
  margin: 100px;
  border: 1px solid gray;
  background-color: #f0f0f5;
}
.dateplace {
  text-align: right;
  font-size: 20px;
  padding-right: 30px;
  color: #666699;
}
.letterhead {
    font-size: 50px;
    text-align: left;
    padding-left: 80px;
    font-weight: bolder;
    color: #7575a3;
    text-shadow: 1px 1px;
}
.lettertext {
  font-size: 20px;
  padding: 0 80px;
  color: #29293d;
}
.indent {
  text-indent: 20px;
}
.sign {
  font-size: 25px;
  padding: 0 80px;
  font-weight: bold;
  color: #a3a3c2;
}
.wrap{
  margin: 80px
}
.wrap:hover{
transform: scale(1.1);
}
.lakeImage{
  transition: all 300ms;
}
  .foot {
    width: 100vw;
    display: block;
    overflow: hidden;
    background-color: #a3a3c2;
    text-align: center;
    color: #29293d;
    padding: 70px 0;
  }
  .footimage {
    opacity: 0.5;
    width: 50px;
  }
  .footimage:hover {
    opacity: 0.2;
  }
  .footie {
    font-family: 'Bad Script';
  }
