#clock div {
	position: absolute;
	left: 50%;
}

#hour{
    background-color:pink;
    height: 80px;
    width: 5px;
	top: 180px;
	margin-left: -6px;
    transform-origin: center 93px;
}

#minute{
    background-color: pink;
    height: 100px;
    width: 4px;
    transform-origin: center 113px;
	top: 160px;
	margin-left: -6px;
}

#sec{
    background-color: white;
    height: 100px;
    width: 3px;
	top: 160px;
	margin-left: -5px;
    /*centrum rotacji*/
    transform-origin: center 113px;
}

#clock {
	margin: 30px auto;
	background-image: url('../images/watch.png');
	width: 300px;
	height: 496px;
	display: block;
}
